In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('employee_data.csv')
print(" Original Employee Data:\n", df)

 Original Employee Data:
    employee_id  age  salary
0            1   24   28000
1            2   31   45000
2            3   40   62000
3            4   29   39000
4            5   55   85000
5            6   63   91000
6            7   36   58000
7            8   22   25000

In [3]:
# Define salary bins and corresponding labels
salary_bins = [0, 30000, 60000, 100000]
salary_labels = ['Low Income', 'Medium Income', 'High Income']

In [4]:
# Apply discretization to 'salary'
df['salary_level'] = pd.cut(df['salary'], bins=salary_bins, labels=salary_labels)

In [5]:
# Display the updated DataFrame
print("\n Employee Data with Salary Levels:\n", df[['salary', 'salary_level']])

 Employee Data with Salary Levels:
    salary   salary_level
0   28000     Low Income
1   45000  Medium Income
2   62000    High Income
3   39000  Medium Income
4   85000    High Income
5   91000    High Income
6   58000  Medium Income
7   25000     Low Income